@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  background-color: rgb(247 247 250 / 86%);
  /* background-color: #b2ebf2; */
  height: 98vh;
  margin: 1vh;
  border-radius: 8px 5px;
}
a{
  text-decoration: inherit;
  color: inherit;
}